html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}

/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(242,244,233);
}

.container{
    height:100%;
}
.container .section{
	width:100%;
}
.container .canvas{
	width:100%;
	background:white;
	height:900px;
    position:relative;
}
.container .controls{
	margin-bottom:20px;
}

/*-----------tooltip-----------*/
.canvas .custom-tooltip{
    position:absolute;
    border:1px solid red;
    width:150px;
    min-height:10px;
    padding:0px 10px;
}

/*------------font-------------*/
body{
	font-size: 16px;
}
h1{ font-size:2em;}
h2{ font-size:1.1em;}
p{ font-size: .9em;}

/*------------svg--------------*/
